name: Deploy Local (NilByte)

on:
  push:
    branches: ['main']

jobs:
  build-and-deploy:
    runs-on: [self-hosted, local-builder]

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Build e Push
        run: |
          # Constrói a imagem apontando para o registry local
          docker compose build

          # Envia para o registry local (localhost:5000)
          docker compose push

      - name: Deploy
        run: |
          # Atualiza os containers em execução
          docker compose pull
          docker compose up -d
