name: Deploy Local (NilByte)

on:
  push:
    branches: ['main']

jobs:
  build-and-deploy:
    runs-on: [self-hosted, local-builder]

    steps:
      - name: Checkout do Código
        uses: actions/checkout@v4

      - name: Build e Push
        run: |
          # Define tags (Latest + SHA do Commit)
          IMAGE_TAG=${{ github.sha }}

          # Backend
          docker build -t localhost:5000/guaripe/backend:latest -t localhost:5000/guaripe/backend:$IMAGE_TAG -f apps/backend/Dockerfile .
          docker push localhost:5000/guaripe/backend:latest
          docker push localhost:5000/guaripe/backend:$IMAGE_TAG

          # Frontend
          docker build -t localhost:5000/guaripe/frontend:latest -t localhost:5000/guaripe/frontend:$IMAGE_TAG -f apps/web/Dockerfile .
          docker push localhost:5000/guaripe/frontend:latest
          docker push localhost:5000/guaripe/frontend:$IMAGE_TAG

      - name: Deploy
        run: |
          # Atualiza os containers em execução
          docker compose pull
          docker compose up -d
