name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and Push Backend
        run: |
          docker build -t localhost:5000/guaripe-backend:latest -f apps/backend/Dockerfile .
          # Uncomment the following line if you have a local registry running or configured
          # docker push localhost:5000/guaripe-backend:latest

      - name: Build and Push Frontend
        run: |
          docker build -t localhost:5000/guaripe-frontend:latest -f apps/web/Dockerfile .
          # Uncomment the following line if you have a local registry running or configured
          # docker push localhost:5000/guaripe-frontend:latest
